<div class="flash-error">
<strong>แจ้งให้ทราบ : </strong> <span>ตอนนี้ ตัวเว็บ Dev::Ahoy ยังกำลังย้ายเว็บอยู่นะครับ บทความเก่าๆ กำลังทยอยอัพเดทครับ คาดว่าภายใน 2-3 วันน่าจะเสร็จเรียบร้อย อาจจะทำให้ฟังค์ชั่นหรือบทความบางส่วน ยังไม่ค่อยสมบูรณ์ดี  <a href="https://www.facebook.com/devahoy/photos/a.588639314500745.1073741825.445478558816822/853906941307313/?type=1">รายละเอียดการย้ายเว็บ อ่านที่นี่ครับ</a> ส่วน Source Code ของเว็บทั้งหมด อยู่บน <a href="https://github.com/Devahoy/devahoy-blog">Github</a> นะครับ</span>
</div>