 <% unless current_article.data.tags.nil? %>
 <hr>
  <div class="post-tag">
    <h3 class="heading">Tags : </h3>
      <ul>
        <% current_article.data.tags.each do |tag| %>
          <li>
            <%= link_to "##{tag}", tag_path(tag) %>
          </li>
        <% end %>
      </ul>
  </div>
<% end %>

